   canvas {
       display: block;
       width: 100%;
       height: 100%;
   }

   .edge {
       position: absolute;
       top: 0;
       right:0;
       left: 2rem;
/*       bottom: 0;*/
       overflow: scroll
   }

   body {
       background: white;
       box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
       color: #545454;
       font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
       font-size: 1rem;
       line-height: 1.5;
       margin: 0 auto;
       padding: 1rem;
   }

   .title {
       -webkit-text-fill-color: transparent;
       -webkit-text-stroke-width: 0.5rem;
       -webkit-text-stroke-color: black;
       font-size: 10rem;
       margin-bottom: 0px;
   }

   .subtitle {
       margin-top: 0;
       font-size: 7.5rem;
       font-weight: 400;
       text-decoration-style: solid;
       text-decoration: overline;

   }

   h3,
   .h3 {
       font-size: 1.75rem
   }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
       color: #222;
       font-weight: 600;
       line-height: 1.3;
   }



   @media (prefers-color-scheme: dark) {
       body {
           color: #ababab;
           background: black;

       }

       .title {
           -webkit-text-fill-color: transparent;
           -webkit-text-stroke-width: 0.5rem;
           -webkit-text-stroke-color: white;
           font-size: 10rem;
           margin-bottom: 0px;
       }

       h1,
       h2,
       h3,
       h4,
       h5,
       h6 {
           color: #ddd;
           font-weight: 600;
           line-height: 1.3;
       }
   }